* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p#inicio {
    margin-top: 30px;
    font-size: 12px;
}
/* Color de texto general */
body, h1, h2, h3, h4, h5, h6, p, a, li, span, strong, em, blockquote, label {
    color: #06141B;
  }
  
  /* Color primario (para títulos y encabezados importantes) */
  h1, h2, h3 {
    color: #253745;
  }
  
  /* Color secundario (para subtítulos y secciones menos importantes) */
  h4, h5, h6, p, li, blockquote {
    color: #4A5C6A;
  }
  
  /* Color acentuado (para enlaces, botones, u otros elementos importantes) */
  a, strong, em, .btn {
    color: #9BA8AB;
  }
  
  /* Color de fondo del contenido general */
  body {
    background-color: #CCD0CF;
  }
  
  /* Fondo del encabezado */
  header {
    background-color: #11212D;
  }
  